@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
}

.card {
    background-color: #E0E0E0;
    border: solid 1px black;
}

.card-header, .card-body, .card-footer {
    border: none;
    background-color: #E0E0E0;
}

/*PASSWORD OUTPUT*/
.pw {
    display: flex;
    align-items: center;
    position: relative;
    /* height: 70px; */
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    font-size: 1.5rem;
    border: solid 1px black;
    background-color: #D1DCBA;
    font-family: 'Fira Code', monospace;
}

.pw button {
    /* background-color: white; */
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translate(20%, 0%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    overflow: hidden;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}
/*// PASSWORD OUTPUT*/


.form-control {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.75rem 0; */
    background-color: #E0E0E0;
    color: black;
}

/*BUTTON GENERATE*/
button.generate {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    /* margin: 3px 0px 6px 0px; */
    color: #000000;
    background-color: #cccccc;
    box-shadow: 0px 5px 0px 0px #9f9f9f;
    border-radius: 5px;
    border: none;
    outline: none !important;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}

button.generate:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
    outline: none !important;
}
/*// BUTTON GENERATE*/

/*CHECKBOX TOGGLE*/
.toggle {
  visibility: hidden;
}

.label {
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0px 0px;
  width: 80px;
  height: 40px;
  position: relative;
  background-color: rgba(244,67,54, 0.4);
}

.toggle:checked + .label {
  background-color: rgba(75, 181, 67, 0.4);
}

.ball {
  background: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/*//CHECKBOX TOGGLE*/

/*INPUT TYPE NUMBER*/
/*Hide Arrows From Input Number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
    text-align: center;
    width: 80px;
    padding: 5px 0px;
    border-radius: 5px;
}
/*// INPUT TYPE NUMBER*/
