/* .container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
} */

/*border-box: 100% vai ser contando td: borda, padding*/

/* input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box; 
    margin-bottom: 10px;
} */

.bg-black {
    background-color: #333 !important;
}

.bg-purple {
    background-color: purple;
}

#box-calculo {
    background-color: #ffe162;
    border-radius: 4rem 4rem 4rem 4rem;
    height: 52rem;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

/*INPUT*/

#box-calculo input {
    height: 2.8rem;
    border: 0.15rem solid gray;
    box-sizing: border-box;
    border-radius: 0.8rem;
    text-align: center;
}

#box-calculo input::placeholder {
    color: #9c98a6;
}

/* #box-calculo input:hover {
    border-width: 2px;
    border: 0.15rem solid black;
} */

#box-calculo input:focus {
    border-width: 2px;
    border: 0.15rem solid #212121;
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*BOTAO*/

#box-calculo button {
    width: 7rem;
    height: 3rem;
    background-color: #484848;
    color: white;
    border: none;
    border-radius: 0.8rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
}

#box-calculo button:hover {
    background: #212121;
    color: #ffe162;
}

/*RESULTADO CSS*/

.result-info {
    text-align: center;
    /* width: 0 auto; */
    margin-top: 1.5rem;
}

.result-block {
    display: flex;
    /*coloca a imagem e o texto na msm linha*/
    align-items: center;
    margin: 0.4rem;
}

.result-block img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
}

.result-block p {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

#title {
    /* text-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
    font-weight: bold; */

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    /* font-size: 35px; */
    /* text-align: center; */
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 0 -0.4px 0 #fff, 0 0.4px 0 #2e2e2e, 0 0.8px 0 #2c2c2c, 0 1.3px 0 #2a2a2a, 0 1.8px 0 #282828, 0 2.3px 0 #262626, 0 2.7px 0 #242424, 0 3.5px 0 #222, 0 4px 0 #202020, 0 4.4px 0 #1e1e1e, 0 4.8px 0 #1c1c1c, 0 5.3px 0 #1a1a1a, 0 5.8px 0 #181818, 0 6.1px 0 #161616, 0 6.5px 0 #141414, 0 6.9px 0 #121212, 0 11px 14px rgba(0, 0, 0, 0.9);
}

@media (max-width: 700px) {
    #box-calculo {
        height: 45rem;
    }
}